.container
  .row
    .span6
      %h1
        MovieFinder
    .span6.phrase
      Find a good movie for tonight!
      %br
    %a.learn_more{:data => {:toggle => "modal"}, :href => "#learnMore"} Learn More
    :plain
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="MovieFinder gives you good movies to download fast!" data-via="diacode" data-hashtags="moviefinder">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  .row
    #filters.span12
      = form_tag :root, :method => :post, :remote  => true do
        = select_tag :genre_ids, options_from_collection_for_select(Genre.all, 'id', 'name', params[:genre_ids]), :multiple => true, :data => { :placeholder => "Filter by genre..."}
  = render "movies"

  #footer.row
    .span12
      %p We thought #{@movies.size} movies would be enough. Do you think we should give you more? #{link_to "Let us know!", "http://twitter.com/diacode", :target => "_blank"} 

#learnMore.modal.fade
  .modal-header
    %a.close{:data => {:dismiss => "modal"}} x
    %h3 About MovieFinder
  
  .modal-body
    %p
      MovieFinder gives you some ideas about what to watch tonight.
    
    %h5 How does MovieFinder work?
    %p
      We find the most 
      seeded movie torrents and with the best seeds/peers ratio possible,
      so your downloads will be as fast as hell. Then we filter using
      = link_to "IMDB", "http://imdb.com", :target => "_blank" 
      ratings,
      and finally we ensure the 
      quality of the rip is at least DVD Rip.
    %p
      In other words, these are the requirements a movie / torrent must be met:
    %ul
      %li At least 7 points on IMDB Rating
      %li At least DVD Rip quality
      %li At least 1000 seeds
      %li At least 50% seeds (seeds/peers ratio > 0.5)
    
    %p
      Movies are shown sorted by their IMDB rating. We're working on some filters to allow you to sort them as you please.
    %p
      We automatically update MovieFinder every 6 hours, so you'll always get fresh results.
    %h5 Any suggestions?
    %p 
      We're looking forward to hear from you. You can reach us on #{link_to "Twitter", "http://twitter.com/diacode", :target => "_blank"}.
  
    %h5 Who did make MovieFinder?
    %p 
      MovideFinder was handcrafted with love by #{link_to "Diacode", "http://diacode.com", :target => "_blank"}.
  .modal-footer
    = link_to image_tag("diacode.png"), "http://diacode.com", :target => "_blank", :class => "diacode"
    %a.btn{:href => "#"} Close
